.App-base {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  height: 100%;
}

.App-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #1ecd97;
}

.App-preface {
  color: #fff;
  margin-bottom: 4em;
  list-style: inside;
}

.App-allowed {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.auth-bullets {
  margin-left: 1.5em;
  width: 80%;
}

body {
  background-color: #333;
  color: #eee;
  font-family: Helvetica, Arial;
  font-size: 3vmin;
}

/** Buttons **/

.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
  text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  .btn {
    font-size: 5.5vmin;
  }
}

.above {
  z-index: 9999;
}

.pause-play-btn:hover {
  background: #1ecd97;
  color: #333;
}

.btn:hover {
  background: #1ecd97;
  color: #333;
}

/** Background **/

.background {
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(8em) opacity(0.6);
  position: absolute;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}