.Home-container {
    min-height: 100vh;
    min-width: 100vw;
}

.Home-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    min-height: 45vh;
}

.Home-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 15vh;
}