.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.input {
  color: #fff;
  border: none;
  border-radius: 0;
  width: 230px;
  height: 3em;
  font-size: 14px;
  background-color: transparent;
  padding-left: .5em;
  margin-right: .5em;
  border-bottom: 2px solid #fff;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  cursor: pointer;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  background: #1ecd97;
  padding: 15px;
  display: inline-block;
  border: none;
  border-radius: 25px;
  width: 70px;
}
