.form {
  display: flex;
  }
  
.input {
  color: #fff;
  border: none;
  border-radius: 0;
  width: 80%;
  font-size: .5em;
  background-color: transparent;
  border-bottom: 2px solid #fff;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1ecd97;
  padding: 20px;
  display: inline-block;
  border: none;
  border-radius: 2em;
  width: 20%;
}


