.messages {
    padding: 5% 0;
    overflow-y: auto;
    height: 75vmin;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 6px;
  }
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #828282;
    border-radius: 6px; 
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 6px; 
  }