.now-playing__name {
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

.now-playing__artist {
    margin-bottom: 1em;
}

.now-playing__status {
    margin-bottom: 1em;
}

.now-playing__img img {
    max-width: 33vmin;
    max-height: 33vmin;
    border-radius: 1em;
}

.now-playing__side {
    margin-left: 5%;
    width: 45%;
}

.progress {
    border: 1px solid #eee;
    height: 6px;
    border-radius: 3px;
    overflow: hidden;
}

.progress__bar {
    background-color: #eee;
    height: 4px;
}

.pause-play-btn {
    border-radius: 2em;
    background-color: transparent;
    color: #1ecd97;
    cursor: pointer;
    transition: all 0.25s ease;
    z-index: 999;
  }

.skip-btn {
    cursor: pointer;
    color: #eee;
}

.player-controls {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}

.song-info {
    display: flex;
    align-items: center;
}
