.user-profile {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.session-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 2.5em;
    z-index: 100;
}

.session-info-spacing {
    border-left: 2em;
    border-right: 2em;
}

.session-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.chat-window {
    background-color: #282c34 !important;
    /* background-color: rgb(15, 97, 97); */
    height: 100%;
    z-index: 9999;
    width: 300px;
    float: right;
}

.player-window {
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-details {
    flex-direction: column;
}

.entire-session {
    height: 100%;
}