.user-profile {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.session-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 2.5em;
}

.session-info-spacing {
    margin: 1em;
}

.session-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}