.user-list {
  list-style-type: none;
  margin: 0;

  padding-top: 20px;
  padding-left: 14px;
  overflow: hidden;
  position: relative;
}

.user-image {
  float: left;
  position: relative;
  margin-right: 4px;
  
}

.user-image .user-name {
  visibility: hidden;
  width: 65px;
  background-color: #fff;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -30px;
}

.user-image:hover .user-name {
  visibility: visible;
  font-size: 12px;
  z-index: 99;
}